@use '/src/sass/base/variables.scss' as *;

.footer {
    padding: 50px 0;
    background-color: $dark;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px 0;
    }

    &__header {
        color: $light;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
    }

    &__text {
        margin-top: 40px;
        color: $light;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__input-email {
        margin-top: 40px;
        display: block;
        padding: 0 0 15px;
        border: none;
        border-bottom: 1px solid $ui-active;
        width: 293px;
        background-color: transparent;
        outline-color: $dark;


        color: $ui-active;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &::placeholder {
            color: $ui-active;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

        }
    }

    &__fiealdset {
        display: flex;
        gap: 0 15px;
        align-items: center;
        margin: 0;
        padding: 0;
        margin-top: 40px;
        border: none;
    }

    &__input-checkbox {
        width: 15px;
        height: 15px;
        background-color: transparent;
    }

    &__label-checkbox {
        color: $light;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;

        & a {
            color: #A22DC6;
            text-decoration: none;
        }
    }

    &__btn {
        margin-top: 20px;
        border-color: $light;
        width: 90px;
        height: 40px;

        color: var(--Light, #FAFAFA);
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

        &:hover {
            color: $dark;
        }
    }

    &__block {
        &-nav {
            display: flex;
            flex-wrap: wrap;
            gap: 40px 66px;
        }


    }

    &__nav {
        margin-top: 40px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        list-style-type: none;
        padding: 0;
    }

    &__item {
        & a {
            color: $light;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
        }
    }

    &__social {
        margin-top: 40px;


        &__wrapper {
            display: flex;
            gap: 10px;
            margin: 0;
            padding: 0;
        }

        &__link {
            font-size: 24px;
            list-style-type: none;

            & a {
                & span {
                    color: $light;

                    &::before {
                        margin: 0;
                    }
                }
            }
        }
    }

    &__policy {
        margin-top: 40px;
        text-align: center;
        color: $light;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        &__wrapper {
            flex-wrap: wrap;
            flex-direction: row;
            gap: 40px 197px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        &__wrapper {
            gap: 0 164px;
        }

        &__policy {
            margin-top: 50px;
        }
    }


}

@media screen and (min-width: 1920px) {
    .footer {
        padding: 80px 0 51px 0;

        &__wrapper {
            gap: 0 314px;
        }

        &__policy {
            margin-top: 18px;
        }
    }
}