@use '/src/sass/base/variables.scss' as *;

.header {
    display: flex;
    justify-content: space-between;

    &__logo {
        width: 100px;
        height: 100px;
    }

    &__icons {
        display: flex;
        align-items: flex-start;
        gap: 0 15px;

        a {
            display: block;
            color: $dark;

            span {
                font-size: 20px;

                &::before {
                    margin: 0;
                }
            }

        }
    }
}

.burger {
    display: flex;
    height: 23px;
    flex-direction: column;
    gap: 10px 0;
    padding-right: 35px;

    span {
        display: block;
        width: 20px;
        height: 1px;
        background: $dark;

    }
}